<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <link rel="stylesheet" href="/style.css?v={% version %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<div class="container mx-auto">
  <div class="mt-8">
    <h1 class="text-center text-4xl">Addie's Art Show</h1>
  </div>
  <div class="mt-8 flex flex-row gap-4 justify-center">
    <div class="text-2xl"><a href="/">Home</a></div>
    <div class="text-2xl"><a href="/about/">About</a></div>
    <div class="text-2xl"><a href="/contact/">Contact</a></div>
  </div>
  {{ content }}
</div>

</body>

</html>